#score1 {
    display:inline-block;
    width: 50px;
}

#score2 {
    display:inline-block;
    width: 50px;
}

#roundResult {
    margin-left: 10px;
}

#resultDisplay {
    margin-left: 10px;
}

#buttons {
    margin-left: 10px;
}

.hidden {
    display:none;
}

header {
    background-image: linear-gradient(#44d61b, lawngreen);
    height: 80px;
}

body {
    margin: 0 0 0 0;
}

h1 {
    margin: 0 0 0 0;
    padding-top: 20px;
    padding-left: 10px;
}

button {
    border-color: black;
}